// aPropos.sass 
// Par Charles-Etienne Villemure
// Le 12 avril 2021
@import '../../app.component'  
.px-8
    padding: 0
    @include lg
        padding: 0 8rem
.logo
    font-size: 90px
    font-family: $policeTitre
:host
    &::ng-deep app-annonce
        img
            margin-bottom: 3rem