<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <div class="card-title">Technicien en architecture</div>
        <div class="card-subtitle">Montreal</div>
        <div class="card-text">Secteurs api</div>
        <div class="card-text">
          Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce
          vieux whisky au juge blond qui fume sur son île intérieure, à côté de
          l"alcôve ovoïde, où les bûches se consument dans l"âtre, ce qui lui
          permet de penser...
        </div>
        <a href="#" class="card-link">Details</a>
        <!-- Le lien a la classe badge-danger seulement pour avoir le  -->
        <!-- memes attributs badges bootstrap, la classe couleurPrincipale a priorite sur la couleur de fond  -->
        <a href="#" class="card-link badge-danger couleurPrincipale px-2 py-1"
          >Postuler</a
        >
      </div>
      <div class="col-4 d-flex align-items-center">
        <img
          class="img-fluid my-auto mx-auto"
          src="https://picsum.photos/175/175"
        />
      </div>
    </div>
    <!-- <div class="card-columns">
      <h1>bye</h1>
    </div> -->
  </div>
</div>
