<div class="conteneur pl-0">
  <div class="row m-0" style="margin-right: 0 !important">
    <!-- Navigation Gauche -->
    <app-navigation-admin class="col-2 p-0"></app-navigation-admin>
    <!-- Action haut de page -->
    <app-action-haut-admin class="col-10"></app-action-haut-admin>
    <!-- Contenu -->
    <div class="offset-2 col-10 px-5">
      <!--  -->
      <form
        id="offreStageAjoutForm"
        [formGroup]="offreStageAjoutForm"
        (ngSubmit)="onSubmit()"
        class="ml-4"
      >
        <div class="row">
          <!-- Titre -->
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="titre"
              placeholder="Titre de l'offre"
              minlength="2"
              maxlength="50"
              required
              [ngClass]="{ 'is-invalid': soumission && f.titre.errors }"
            />
            <div *ngIf="soumission && f.titre.errors" class="invalid-feedback">
              <div *ngIf="f.titre.errors.required">Le titre est requis</div>
              <div *ngIf="f.titre.errors.minlength || f.titre.errors.maxlength">
                Le titre doit comporter entre 2 et 50 caracteres
              </div>
            </div>
          </mat-form-field>
          <!-- Ville -->
          <mat-form-field class="ml-2">
            <input
              matInput
              type="text"
              formControlName="ville"
              placeholder="Ville du stage"
              minlength="2"
              maxlength="50"
              pattern="[a-zA-Z- àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]*"
              required
              [ngClass]="{ 'is-invalid': soumission && f.ville.errors }"
            />
            <div *ngIf="soumission && f.ville.errors" class="invalid-feedback">
              <div *ngIf="f.ville.errors.required">La ville est requis.</div>
              <div *ngIf="f.ville.errors.minlength || f.ville.errors.maxlength">
                La ville doit comporter entre 2 et 50 caractères.
              </div>
              <div *ngIf="f.ville.errors.pattern">
                La ville doit être composée que de lettres.
              </div>
            </div>
          </mat-form-field>
          <!-- Secteur d'activitée -->
          <mat-form-field>
            <mat-label class="text-secondary"> Secteur activitée</mat-label>
            <mat-select formControlName="secteursActivites" required>
              <mat-option
                *ngFor="let secteurActivite of secteursActivites"
                [value]="secteurActivite.titre"
                >{{ secteurActivite.titre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Date de début -->
          <mat-form-field>
            <mat-label>Date début du stage</mat-label>
            <input
              matInput
              required
              [matDatepicker]="picker"
              formControlName="dateDebut"
              [ngClass]="{ 'is-invalid': soumission && f.dateDebut.errors }"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div
              *ngIf="soumission && f.dateDebut.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.dateDebut.errors.required">
                La date de début est requis.
              </div>
            </div>
          </mat-form-field>
          <!-- Date de fin -->
          <mat-form-field>
            <mat-label>Date de fin du stage</mat-label>
            <input
              matInput
              required
              [matDatepicker]="picker2"
              formControlName="dateFin"
              [ngClass]="{ 'is-invalid': soumission && f.dateFin.errors }"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <div
              *ngIf="soumission && f.dateFin.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.dateFin.errors.required">
                La date de fin est requis.
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Nombre d'heures par semaine -->

          <mat-form-field class="ml-2">
            <input
              matInput
              type="number"
              placeholder="Nombre d'heures par semaine"
              min="1"
              max="50"
              required
              formControlName="nombreHeuresSemaine"
              [ngClass]="{
                'is-invalid': soumission && f.nombreHeuresSemaine.errors
              }"
            />
            <div
              *ngIf="soumission && f.nombreHeuresSemaine.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.nombreHeuresSemaine.errors.required">
                Le nombre d'heures par semaine est requis.
              </div>
              <div
                *ngIf="
                  f.nombreHeuresSemaine.errors.min ||
                  f.nombreHeuresSemaine.errors.max
                "
              >
                Le nombre d'heures doit être entre 1 et 50 heures par semaine.
              </div>
            </div>
          </mat-form-field>
          <!-- Rémunération -->
          <mat-form-field>
            <mat-label>Rémunération : </mat-label>
            <select matNativeControl required formControlName="remuneration">
              <option [ngValue]="true">Oui</option>
              <option [ngValue]="false">Non</option>
            </select>
          </mat-form-field>
          <!-- Emploi après stage -->
          <mat-form-field>
            <mat-label>Emploi après stage : </mat-label>
            <select
              matNativeControl
              required
              formControlName="emploieApresStage"
            >
              <option [ngValue]="true">Oui</option>
              <option [ngValue]="false">Non</option>
            </select>
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Description -->
          <mat-form-field>
            <mat-label>Description du stage</mat-label>
            <textarea
              matInput
              minlength="20"
              maxlength="1500"
              formControlName="description"
              [ngClass]="{
                'is-invalid': soumission && f.description.errors
              }"
              required
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"
            ></textarea>
            <div
              *ngIf="soumission && f.description.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.description.errors.required">
                La description du stage est requis.
              </div>
              <div
                *ngIf="
                  f.description.errors.minlength ||
                  f.description.errors.maxlength
                "
              >
                La description du stage doit comprendre entre 20 et 1500
                caractères.
              </div>
            </div>
          </mat-form-field>

          <mat-form-field class="ml-2">
            <mat-label>Compétences recherchées</mat-label>
            <textarea
              matInput
              minlength="20"
              maxlength="1500"
              formControlName="competencesRechercher"
              [ngClass]="{
                'is-invalid': soumission && f.competencesRechercher.errors
              }"
              required
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"
            ></textarea>
            <div
              *ngIf="soumission && f.competencesRechercher.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.competencesRechercher.errors.required">
                Vous devez entrer les compétences recherchées.
              </div>
              <div
                *ngIf="
                  f.competencesRechercher.errors.minlength ||
                  f.competencesRechercher.errors.maxlength
                "
              >
                Les compétences recherchées doit comprendre entre 20 et 1500
                caractères
              </div>
            </div>
          </mat-form-field>
          <!-- Informations supplémentaires -->
          <mat-form-field class="ml-2">
            <mat-label>Information supplémentaires</mat-label>
            <textarea
              matInput
              formControlName="informationSupplementaire"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"
            ></textarea>
          </mat-form-field>
        </div>

        <button class="btn btn-success">Terminer</button>
      </form>
      <!--  -->
    </div>
  </div>
</div>
