<div
  class="header container-fluid d-flex justify-content-center align-items-center"
  style="background-image: url('../../../assets/img/entete/accueil.png')"
>
  <!-- Composant de recherche -->
  <app-recherche-entete style="width: 100%"></app-recherche-entete>
</div>
<!-- Section avec 4 stages et liens vers la page des stages -->
<app-trouvez-un-stage></app-trouvez-un-stage>
<!-- Section pourquoi publiez un stage -->
<app-pourquoi-publier-stage></app-pourquoi-publier-stage>
<!-- Section avec 4 Stagiaires et liens vers les stagiaires -->
<app-section-trouvez-stagiaires></app-section-trouvez-stagiaires>
<!-- Section trouvez un stage -->
<app-section-trouvez-stage></app-section-trouvez-stage>

<!-- Section des Etapes -->
<section>
  <div class="container mt-8">
    <div class="row text-center">
      <div class="col-12">
        <h1>Facile à utiliser!</h1>
        <p>
          Pellentesque vehicula fermentum turpis eu cursus. Cras convallis
          tellus et elit<br />
          aliquet, vitae dignissim ligula sodales.
        </p>
        <img class="d-block mx-auto" src="../../assets/img/sectiontest.png" />
        <div class="row d-flex justify-content-center my-5">
          <a href="#" class="badge-danger couleurPrincipale px-2 py-2"
            >Inscrivez-vous maintenant</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
