// navigation-admin.sass 
// Par Charles-Etienne Villemure
// Le 9 Avril 2021
.navigation
    height: 100vh
    position: fixed
    left: 0
    top: 0
    max-width: 16.66666667%
    background-color: #307CAF
button
    border: none
    background-color: rgba(0,0 ,0 ,.0 )
    font-size: 0.8rem
    color: white
.mat-icon
    height: 16px
    width: 16px