<!-- liste-candidats-admin.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 9 Avril 2021 -->
<div class="conteneur pl-0 bg-light" style="min-height: 100vh">
  <div class="row m-0" style="margin-right: 0 !important">
    <app-navigation-admin class="col-xs-12 col-lg-2 p-0"></app-navigation-admin>

    <app-action-haut-admin class="col-xs-12 col-lg-10"></app-action-haut-admin>

    <div class="col-xs-12 offset-lg-2 col-lg-10">
      <!-- Contenu -->
      <div class="row pl-4">
        <h1 class="font-weight-bold">Liste des Candidats</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="27.621"
          height="27"
          viewBox="0 0 27.621 27"
        >
          <g
            id="Icon_feather-corner-right-down"
            data-name="Icon feather-corner-right-down"
            transform="translate(-4.5 -4.5)"
          >
            <path
              id="Path_83"
              data-name="Path 83"
              d="M15,22.5,22.5,30,30,22.5"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
            <path
              id="Path_84"
              data-name="Path 84"
              d="M6,6H16.5a6,6,0,0,1,6,6V30"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </g>
        </svg>
      </div>
      <div class="row w-85">
        <!-- Carte des entreprises -->
        <div class="col-6 col-lg-4" *ngFor="let entreprise of entreprises">
          <app-petite-carte-entreprises-admin
            [entreprise]="entreprise"
          ></app-petite-carte-entreprises-admin>
        </div>
      </div>
    </div>
  </div>
</div>
