<div class="conteneur pl-0">
  <div class="row m-0" style="margin-right: 0 !important">
    <!-- Navigation Gauche -->
    <app-navigation-admin class="col-2 p-0"></app-navigation-admin>
    <!-- Action haut de page -->
    <app-action-haut-admin class="col-10"></app-action-haut-admin>
    <!-- Contenu -->
    <div class="offset-2 col-10 px-5">
      <!-- FORMULAIRE -->
      <form
        id="demandeStageAjoutForm"
        [formGroup]="demandeStageAjoutForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="row">
          <!-- Titre -->
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="titre"
              placeholder="Titre de la demande"
              minlength="2"
              maxlength="50"
              required
              [ngClass]="{ 'is-invalid': soumission && f.titre.errors }"
            />
            <div *ngIf="soumission && f.titre.errors" class="invalid-feedback">
              <div *ngIf="f.titre.errors.required">Le titre est requis.</div>
              <div *ngIf="f.titre.errors.minlength || f.titre.errors.maxlength">
                Le titre doit comporter entre 2 et 50 caractères.
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Type de stage -->
          <mat-form-field>
            <mat-label>Type de stage</mat-label>
            <mat-select
              formControlName="typeDeStage"
              required
              [ngClass]="{
                'is-invalid': soumission && f.typeDeStage.errors
              }"
            >
              <mat-option
                *ngFor="let typeDeStage of typesDeStageListe"
                [value]="typeDeStage"
              >
                {{ typeDeStage }}
              </mat-option>
            </mat-select>
            <div
              *ngIf="soumission && f.typeDeStage.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.typeDeStage.errors.required">
                Le type de stage est requis.
              </div>
            </div>
          </mat-form-field>
          <!-- Ville -->
          <mat-form-field class="ml-2">
            <input
              matInput
              type="text"
              formControlName="ville"
              placeholder="Ville du stage"
              minlength="2"
              maxlength="50"
              pattern="[a-zA-Z- àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]*"
              required
              [ngClass]="{ 'is-invalid': soumission && f.ville.errors }"
            />
            <div *ngIf="soumission && f.ville.errors" class="invalid-feedback">
              <div *ngIf="f.ville.errors.required">La ville est requis</div>
              <div *ngIf="f.ville.errors.minlength || f.ville.errors.maxlength">
                La ville doit comporter entre 2 et 50 caractères.
              </div>
              <div *ngIf="f.ville.errors.pattern">
                La ville doit être composée que de lettres.
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Date de début -->
          <mat-form-field>
            <mat-label>Date début du stage</mat-label>
            <input
              matInput
              required
              [matDatepicker]="picker"
              formControlName="dateDebut"
              [ngClass]="{ 'is-invalid': soumission && f.dateDebut.errors }"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div
              *ngIf="soumission && f.dateDebut.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.dateDebut.errors.required">
                La date de début est requis.
              </div>
            </div>
          </mat-form-field>
          <!-- Date de fin -->
          <mat-form-field class="ml-2">
            <mat-label>Date de fin du stage</mat-label>
            <input
              matInput
              required
              [matDatepicker]="picker2"
              formControlName="dateFin"
              [ngClass]="{ 'is-invalid': soumission && f.dateFin.errors }"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <div
              *ngIf="soumission && f.dateFin.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.dateFin.errors.required">
                La date de fin est requis.
              </div>
            </div>
          </mat-form-field>
        </div>

        <div class="row">
          <!-- Nombres d'heures semaine -->
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Nombre d'heures par semaine"
              min="1"
              max="50"
              required
              formControlName="nombreHeuresSemaine"
              [ngClass]="{
                'is-invalid': soumission && f.nombreHeuresSemaine.errors
              }"
            />
            <div
              *ngIf="soumission && f.nombreHeuresSemaine.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.nombreHeuresSemaine.errors.required">
                Le nombres d'heures par semaine est requis.
              </div>
              <div
                *ngIf="
                  f.nombreHeuresSemaine.errors.min ||
                  f.nombreHeuresSemaine.errors.max
                "
              >
                Le nombres d'heures doit être entre 1 et 50 heures par semaine.
              </div>
            </div>
          </mat-form-field>
          <!-- Programme suivi -->
          <mat-form-field class="ml-2">
            <input
              matInput
              type="text"
              formControlName="programmeSuivi"
              placeholder="Programme suivi pour le stage"
              minlength="2"
              maxlength="50"
              required
              [ngClass]="{
                'is-invalid': soumission && f.programmeSuivi.errors
              }"
            />
            <div
              *ngIf="soumission && f.programmeSuivi.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.programmeSuivi.errors.required">
                Le programme suivi est requis.
              </div>
              <div
                *ngIf="
                  f.programmeSuivi.errors.minlength ||
                  f.programmeSuivi.errors.maxlength
                "
              >
                Le programme suivi doit comporter entre 2 et 50 caractères.
              </div>
            </div>
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Rémunération -->
          <mat-form-field>
            <mat-label>Rémunération : </mat-label>
            <mat-select required formControlName="remuneration">
              <mat-option
                *ngFor="let remunerationsChoix of remunerationChoix"
                [value]="remunerationsChoix"
              >
                {{ remunerationsChoix }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Autres formations -->
          <mat-form-field class="ml-2">
            <input
              matInput
              type="text"
              placeholder="Autres formations"
              minlength="2"
              maxlength="500"
              formControlName="autreFormation"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Compétences acquises -->
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Compétences acquises"
              minlength="2"
              maxlength="500"
              required
              formControlName="competencesAcquises"
              [ngClass]="{
                'is-invalid': soumission && f.competencesAcquises.errors
              }"
            />
            <div
              *ngIf="soumission && f.competencesAcquises.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.competencesAcquises.errors.required">
                Vos compétences acquises sont requis.
              </div>
              <div
                *ngIf="
                  f.competencesAcquises.errors.minlength ||
                  f.competencesAcquises.errors.maxlength
                "
              >
                Vos compétences acquises doivent comprendre entre 2 et 500
                caractères.
              </div>
            </div>
          </mat-form-field>
          <!-- Autres informations -->
          <mat-form-field class="ml-2">
            <input
              matInput
              type="text"
              formControlName="informationSupplementaire"
              placeholder="Informations supplémentaires"
              minlength="2"
              maxlength="500"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <!-- Description -->
          <mat-form-field class="w-50">
            <mat-label>Description du stage demandé</mat-label>
            <textarea
              matInput
              minlength="20"
              maxlength="1500"
              formControlName="description"
              [ngClass]="{
                'is-invalid': soumission && f.description.errors
              }"
              required
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="10"
            ></textarea>
            <div
              *ngIf="soumission && f.description.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.description.errors.required">
                Vous devez entrer une description du stage recherché.
              </div>
              <div
                *ngIf="
                  f.description.errors.minlength ||
                  f.description.errors.maxlength
                "
              >
                Votre description doit comprendre entre 20 et 1500 caractères.
              </div>
            </div>
          </mat-form-field>
        </div>
        <button class="btn btn-success">Terminer</button>
      </form>
    </div>
  </div>
</div>
