<div class="conteneur pl-0">
  <div class="row m-0" style="margin-right: 0 !important">
    <app-navigation-admin class="col-2 p-0"></app-navigation-admin>

    <app-action-haut-admin class="col-10"></app-action-haut-admin>

    <div class="offset-2 col-10 px-5">
      <!-- Content -->

      <div class="row" *ngIf="env.statusDeConnexion === 'administrateur'">
        <h1>En attente de validation</h1>
      </div>
      <div class="row">
        <div
          class="col-xs-12 col-lg-6"
          *ngIf="env.statusDeConnexion === 'administrateur'"
        >
          <div class="row">
            <!-- DEMANDES DE STAGE -->
            <h2>Demandes de stage</h2>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="27.621"
              height="27"
              viewBox="0 0 27.621 27"
              class="ml-3"
            >
              <g
                id="Icon_feather-corner-right-down"
                data-name="Icon feather-corner-right-down"
                transform="translate(-4.5 -4.5)"
              >
                <path
                  id="Path_83"
                  data-name="Path 83"
                  d="M15,22.5,22.5,30,30,22.5"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                />
                <path
                  id="Path_84"
                  data-name="Path 84"
                  d="M6,6H16.5a6,6,0,0,1,6,6V30"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                />
              </g>
            </svg>
          </div>

          <div *ngFor="let demandeStage of demandesStages" class="pb-3">
            <app-attente-demande-stage
              [demandeStage]="demandeStage"
            ></app-attente-demande-stage>
          </div>
        </div>
        <div class="col-12">
          <!-- Retour au profil -->
          <a
            routerLink="/administration/ficheEntreprise/606dfadb1f69fe001501319f"
            class="btn btn-secondary my-4"
            >Retour au profil</a
          >
          <div class="row">
            <!-- OFFRES DE STAGE -->
            <h2>Offres de stage</h2>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="27.621"
              height="27"
              viewBox="0 0 27.621 27"
              class="ml-3"
            >
              <g
                id="Icon_feather-corner-right-down"
                data-name="Icon feather-corner-right-down"
                transform="translate(-4.5 -4.5)"
              >
                <path
                  id="Path_83"
                  data-name="Path 83"
                  d="M15,22.5,22.5,30,30,22.5"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                />
                <path
                  id="Path_84"
                  data-name="Path 84"
                  d="M6,6H16.5a6,6,0,0,1,6,6V30"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                />
              </g>
            </svg>
          </div>
          <div
            *ngFor="let offreStage of offresStages | offresStageEntreprise"
            class="pb-3"
          >
            <app-offre-stage-detail
              [offreStage]="offreStage"
            ></app-offre-stage-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
