@import '../../../app.component'
.bordureLiens
    border: solid .8vh #EAEAEA
.card
    border-top: 5px solid #A5AC3F
.btn-bg
    background-color: #F6F6F6
.card-text
    font-weight: bold
    span
        font-weight: normal