// recherche-entete.sass
// Par Charles-Etienne Villemure
// Le 11 Avril 2021
@import '../app.component'
.input-group
    margin-top: 3vh
    @include lg
    margin-top: 0
    background-color: white
    span
        color:  #544CF9               
input
    border: none
button
    margin: 0 auto
    @include lg
    margin-right: 0.5rem
.espaceSousMenuTabletteTelephone
    margin-top: 7vh
    @include md
    margin-top: 5vh
    @include lg
    margin-top: 0