<!-- recherche-entete.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 11 Avril 2021 -->
<div class="col-xs-8 col-md-6 col-lg-5 mx-auto espaceSousMenuTabletteTelephone">
  <div class="row text-white">
    <h1 class="mx-auto">Trouvez votre stage!</h1>
  </div>
  <div class="row">
    <div class="input-group mx-auto d-flex align-items-center">
      <span class="pl-4 pr-2"></span>
      <input
        type="text"
        class="form-control"
        placeholder="Mot cle"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <button class="text-white boutonGradiant px-4 py-2 my-1">
        <p class="mb-0" id="basic-addon2">Rechercher</p>
      </button>
    </div>
  </div>
</div>
