<!-- Recherche -->

<div class="col-5 mx-auto">
  <div class="row text-white pb-4">
    <h1 class="mx-auto">Trouvez votre stage!</h1>
  </div>
  <div class="row pt-5 pr-4">
    <div class="input-group mx-auto d-flex align-items-center">
      <span class="pl-4 pr-2"></span>
      <input
        type="text"
        class="form-control"
        placeholder="Mot cle"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <button class="text-white px-4 py-2 mr-1 my-1">
        <p class="mb-0" id="basic-addon2">Rechercher</p>
      </button>
    </div>
  </div>
</div>
