@import '../app.component'

.input-group
    background-color: white
    button
        border: none
        background-image: linear-gradient(to right, #544CF9 , #814CF9)
        // p
        //     margin-bottom: 0
    span
        color:  #544CF9   
            
input
    border: none