<!-- Connexion-inscription.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 12 Avril 2021 -->
<div class="conteneur">
  <div
    class="header container-fluid d-flex justify-content-center align-items-center"
    style="
      background-image: url('../../../assets/img/entete/aPropos-connexionInscription.png');
    "
  >
    <!-- Composant de recherche -->
    <app-recherche-entete style="width: 100%"></app-recherche-entete>
  </div>

  <div class="container-fluid">
    <div class="row">
      <p class="titre text-white" style="font-size: 2.4rem">
        Accédez à votre compte
      </p>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
      <h2 class="mb-0 mr-2">Je suis :</h2>
      <div
        class="btn mr-2 btn-success"
        (click)="
          formulaireDiv.stagiaire = !formulaireDiv.stagiaire;
          formulaireDiv.entreprise = false
        "
      >
        Un stagiaire
      </div>
      <div
        class="btn ml-2 btn-warning text-white"
        (click)="
          formulaireDiv.entreprise = !formulaireDiv.entreprise;
          formulaireDiv.stagiaire = false
        "
      >
        Une entreprise
      </div>
    </div>
  </div>
  <div class="container my-3">
    <!-- Rendu de la section sélectionnez -->

    <!-- Stagiaire -->
    <div *ngIf="formulaireDiv.stagiaire" class="row">
      <div class="col-xs-12 col-lg-6">
        <h1>Identification</h1>
        <app-connexion-stagiaire></app-connexion-stagiaire>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h1>Nouvel utilisateur</h1>
        <app-formulaire-stagiaire></app-formulaire-stagiaire>
      </div>
    </div>
    <!-- Entreprise -->
    <div *ngIf="formulaireDiv.entreprise">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h1>Identification</h1>
          <app-connexion-entreprise></app-connexion-entreprise>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h1>Nouvelle entreprise</h1>
          <app-formulaire-entreprise></app-formulaire-entreprise>
        </div>
      </div>
    </div>
  </div>
  <app-annonce-lorem></app-annonce-lorem>
  <div class="container-fluid px-5">
    <app-annonce></app-annonce>
  </div>
</div>
