<div
  class="header container-fluid d-flex justify-content-center align-items-center"
  style="
    background-image: url('../../../assets/img/entete/aPropos-connexionInscription.png');
  "
>
  <!-- Composant de recherche -->
  <app-recherche-entete style="width: 100%"></app-recherche-entete>
</div>
<!-- Formulaires -->

<div class="container-fluid">
  <div class="row">
    <!-- Formulaire de connexion -->
    <div class="col-6">
      <h1>Form Connexion</h1>
    </div>
    <!-- Formulaire Inscription -->
    <div class="col-6">
      <!-- Selection du formulaire -->
      <div
        class="btn"
        (click)="
          formulaireDiv.stagiaire = !formulaireDiv.stagiaire;
          formulaireDiv.entreprise = false
        "
      >
        Stagiaire
      </div>
      <div
        class="btn"
        (click)="
          formulaireDiv.entreprise = !formulaireDiv.entreprise;
          formulaireDiv.stagiaire = false
        "
      >
        Entreprise
      </div>
      <div class="row">
        <!-- Formulaire stagiaire -->
        <div *ngIf="formulaireDiv.stagiaire">
          <app-formulaire-stagiaire></app-formulaire-stagiaire>
        </div>
        <!-- Formulaire Entreprise -->
        <div *ngIf="formulaireDiv.entreprise">
          <app-formulaire-entreprise></app-formulaire-entreprise>
        </div>
      </div>
    </div>
  </div>
</div>

<app-annonce-lorem></app-annonce-lorem>
<div class="container-fluid px-5">
  <app-annonce></app-annonce>
</div>
