<form [formGroup]="entrepriseAjoutForm" (ngSubmit)="onSubmit()">
  <!-- Nom de L'entreprise -->
  <div class="form-group">
    <input
      placeholder="Nom de l'entreprise"
      type="text"
      formControlName="nomEntreprise"
      class="form-control"
      minlength="2"
      maxlength="50"
      [ngClass]="{ 'is-invalid': soumission && f.nomEntreprise.errors }"
    />
    <div *ngIf="soumission && f.nomEntreprise.errors" class="invalid-feedback">
      <div *ngIf="f.nomEntreprise.errors.required">
        Le nom de l'entreprise est requis.
      </div>
      <div
        *ngIf="
          f.nomEntreprise.errors.minlength || f.nomEntreprise.errors.maxlength
        "
      >
        Le nom de l'entreprise doit comporter entre 2 et 50 caractères.
      </div>
    </div>
  </div>

  <div>
    <!-- Adresse de l'entreprise -->
    <div class="form-group">
      <input
        placeholder="Adresse de l'entreprise"
        type="text"
        formControlName="adresse"
        class="form-control"
        minlength="2"
        maxlength="50"
        [ngClass]="{ 'is-invalid': soumission && f.adresse.errors }"
      />
      <div *ngIf="soumission && f.adresse.errors" class="invalid-feedback">
        <div *ngIf="f.adresse.errors.required">
          L'adresse de l'entreprise est requis.
        </div>
        <div *ngIf="f.adresse.errors.minlength || f.adresse.errors.maxlength">
          L'adresse de l'entreprise doit comporter entre 2 et 50 caractères.
        </div>
      </div>
    </div>
    <!-- Ville de l'entreprise -->
    <div class="form-group">
      <input
        placeholder="Ville de l'entreprise"
        type="text"
        formControlName="ville"
        class="form-control"
        minlength="2"
        maxlength="100"
        pattern="[a-zA-Z- àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]*"
        [ngClass]="{ 'is-invalid': soumission && f.ville.errors }"
      />
      <div *ngIf="soumission && f.ville.errors" class="invalid-feedback">
        <div *ngIf="f.ville.errors.required">
          La ville de l'entreprise est requis.
        </div>
        <div *ngIf="f.ville.errors.minlength || f.ville.errors.maxlength">
          La ville de l'entreprise doit comporter entre 2 et 100 caractères.
        </div>
        <div *ngIf="f.ville.errors.pattern">
          La ville doit être composée que de lettres.
        </div>
      </div>
    </div>
  </div>

  <!-- Courriel -->
  <div class="form-group">
    <input
      placeholder="Courriel"
      type="text"
      formControlName="courriel"
      class="form-control"
      [ngClass]="{ 'is-invalid': soumission && f.courriel.errors }"
    />
    <div *ngIf="soumission && f.courriel.errors" class="invalid-feedback">
      <div *ngIf="f.courriel.errors.required">Votre courriel est requis.</div>
      <div *ngIf="f.courriel.errors.email">
        L'adresse courriel doit être valide.
      </div>
    </div>
  </div>
  <!-- Téléphone -->
  <div class="form-group">
    <input
      placeholder="Téléphone"
      type="text"
      formControlName="numeroTel"
      class="form-control"
      [ngClass]="{ 'is-invalid': soumission && f.numeroTel.errors }"
    />
    <div *ngIf="soumission && f.numeroTel.errors" class="invalid-feedback">
      <div *ngIf="f.numeroTel.errors.required">Le téléphone est requis.</div>
    </div>
  </div>
  <!-- Url logo d'entreprise -->
  <div class="form-group">
    <input
      placeholder="Url du logo de l'entreprise"
      type="text"
      formControlName="logo"
      class="form-control"
      [ngClass]="{ 'is-invalid': soumission && f.logo.errors }"
    />
    <div *ngIf="soumission && f.logo.errors" class="invalid-feedback">
      <div *ngIf="f.logo.errors.required">
        L'url du logo de l'entreprise est requis.
      </div>
    </div>
  </div>
  <!-- Site web -->
  <div class="form-group">
    <input
      placeholder="Url du site Web de l'entreprise"
      type="text"
      formControlName="siteWeb"
      class="form-control"
      [ngClass]="{ 'is-invalid': soumission && f.siteWeb.errors }"
    />
    <div *ngIf="soumission && f.siteWeb.errors" class="invalid-feedback">
      <div *ngIf="f.siteWeb.errors.required">
        L'url du site Web de l'entreprise est requis.
      </div>
    </div>
  </div>
  <!-- Description de l'entreprise -->
  <div class="form-group">
    <textarea
      placeholder="À propos de l'entreprise"
      rows="4"
      minlength="20"
      maxlength="1500"
      type="text"
      formControlName="aPropos"
      class="form-control"
      [ngClass]="{
        'is-invalid': soumission && f.aPropos.errors
      }"
    ></textarea>
    <div *ngIf="soumission && f.aPropos.errors" class="invalid-feedback">
      <div *ngIf="f.aPropos.errors.required">
        Vous devez entrer une présentation de l'entreprise.
      </div>
      <div *ngIf="f.aPropos.errors.minlength || f.aPropos.errors.maxlength">
        Votre résumé doit comprendre entre 20 et 1500 caractères.
      </div>
    </div>
  </div>
  <!-- Secteurs activités -->
  <div>
    <mat-form-field class="w-100">
      <label class="text-secondary">Secteurs d'avtivités de l'entreprise</label>
      <mat-select multiple formControlName="secteurActivite" required>
        <mat-option
          *ngFor="let secteurActivite of secteursActivites"
          [value]="secteurActivite.titre"
          >{{ secteurActivite.titre }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Prénom personne contact -->
  <div class="form-group">
    <input
      placeholder="Prénom de la personne de contact"
      type="text"
      formControlName="prenomResponsable"
      class="form-control"
      minlength="2"
      maxlength="100"
      pattern="[a-zA-Z- àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]*"
      [ngClass]="{ 'is-invalid': soumission && f.prenomResponsable.errors }"
    />
    <div
      *ngIf="soumission && f.prenomResponsable.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.prenomResponsable.errors.required">
        Le prénom est requis.
      </div>
      <div
        *ngIf="
          f.prenomResponsable.errors.minlength ||
          f.prenomResponsable.errors.maxlength
        "
      >
        Le prénom doit comporter entre 2 et 50 caractères.
      </div>
      <div *ngIf="f.prenomResponsable.errors.pattern">
        Le prénom doit être composé que de lettres.
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Nom personne contact -->
  <div class="form-group">
    <input
      placeholder="Nom de la personne de contact"
      type="text"
      formControlName="nomResponsable"
      class="form-control"
      minlength="2"
      maxlength="100"
      pattern="[a-zA-Z- àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]*"
      [ngClass]="{ 'is-invalid': soumission && f.nomResponsable.errors }"
    />
    <div *ngIf="soumission && f.nomResponsable.errors" class="invalid-feedback">
      <div *ngIf="f.nomResponsable.errors.required">Le nom est requis</div>
      <div
        *ngIf="
          f.nomResponsable.errors.minlength || f.nomResponsable.errors.maxlength
        "
      >
        Le nom doit comporter entre 2 et 50 caractères.
      </div>
      <div *ngIf="f.nomResponsable.errors.pattern">
        Le nom doit être composé que de lettres.
      </div>
    </div>
  </div>
  <!-- Mot de passe -->
  <div class="form-group">
    <input
      placeholder="Mot de passe"
      type="password"
      formControlName="motDePasse"
      class="form-control"
      [ngClass]="{ 'is-invalid': soumission && f.motDePasse.errors }"
    />
    <div *ngIf="soumission && f.motDePasse.errors" class="invalid-feedback">
      <div *ngIf="f.motDePasse.errors.required">
        Le mot de passe est requis.
      </div>
      <div *ngIf="f.motDePasse.errors.minlength">
        Votre mot de passe doit contenir au moins six(6) caractères.
      </div>
    </div>
  </div>
  <!--  -->
  <button class="btn btn-primary mr-1">S'inscrire</button>
  <button class="btn btn-secondary" type="reset" (click)="redemarrer()">
    Annuler
  </button>
</form>
