<div
  class="container-fluid bg-light d-flex flex-column justify-content-end"
  style="height: 35vh"
>
  <div class="row w-75 mx-auto">
    <h3>Ils sont a la recherche d'un stage :</h3>
  </div>
  <div class="row w-75 mx-auto pb-5">
    <div class="col-3">
      <a href="#" target="blank" class="d-block">Graphic desing</a>
      <a href="#" target="blank" class="d-block">Desinger jobs</a>
      <a href="#" target="blank" class="d-block">Frontend Developer jobs</a>
      <a href="#" target="blank" class="d-block">Developer jobs</a>
    </div>
    <div class="col-3">
      <a href="#" target="blank" class="d-block">Resources jobs</a>
      <a href="#" target="blank" class="d-block">Marketing online jobs</a>
      <a href="#" target="blank" class="d-block">Mobile Developer jobs</a>
      <a href="#" target="blank" class="d-block">App Developer jobs</a>
    </div>
    <div class="col-3">
      <a href="#" target="blank" class="d-block">Product Manager jobs</a>
      <a href="#" target="blank" class="d-block">Sales jobs</a>
      <a href="#" target="blank" class="d-block">Logo Desing jobs</a>
      <a href="#" target="blank" class="d-block">Seo jobs</a>
    </div>
    <div class="col-3">
      <a href="#" target="blank" class="d-block">Articles jobs</a>
      <a href="#" target="blank" class="d-block">Android jobs</a>
      <a href="#" target="blank" class="d-block">Logo Desing jobs</a>
      <a href="#" target="blank" class="d-block">Seo jobs</a>
    </div>
  </div>
</div>
<div class="row no-gutters d-flex justify-content-between py-4">
  <div class="ml-10">
    <p>
      © 2021 <span style="color: #544cf9">EnStage</span> - Projet éducationne
    </p>
  </div>
  <div class="d-inline-flex mr-5">
    <p class="px-3">Accueil</p>
    <a routerLink="/a-propos" class="px-3">A Propos</a>
    <p class="px-3">Confidentialite</p>
    <p class="px-3">Nous joindre</p>
    <p class="pl-3 pr-5 mr-5">Partenaires</p>
  </div>
</div>
