<div class="card carteAttente rounded-0 w-100">
  <div class="card-body">
    <div class="card-title bordureTitreCarte">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="31.5"
        height="36.002"
        viewBox="0 0 31.5 36.002"
      >
        <path
          id="Icon_awesome-user-graduate"
          data-name="Icon awesome-user-graduate"
          d="M22.458,22.542,15.75,29.25,9.042,22.542A9.429,9.429,0,0,0,0,31.95v.675A3.376,3.376,0,0,0,3.375,36h24.75A3.376,3.376,0,0,0,31.5,32.625V31.95a9.429,9.429,0,0,0-9.042-9.408ZM.956,5.611l.45.105V9.823a1.624,1.624,0,0,0-.063,2.813l-1.1,4.38C.127,17.5.394,18,.78,18H3.72c.387,0,.654-.5.534-.984l-1.1-4.38a1.624,1.624,0,0,0-.063-2.813v-3.7L7.734,7.242A8.984,8.984,0,1,0,24.75,11.25a8.84,8.84,0,0,0-.984-4.008l6.771-1.631a1.119,1.119,0,0,0,0-2.215L17.149.162a6.04,6.04,0,0,0-2.791,0L.956,3.389a1.124,1.124,0,0,0,0,2.222Z"
          transform="translate(0 0.002)"
        />
      </svg>

      {{ demandeStage?.programmeSuivi }}
    </div>
    <div class="card-subtitle text-secondary">
      {{ demandeStage?.stagiaire?.prenom }} {{ demandeStage?.stagiaire?.nom }}
    </div>
    <div class="card-text">
      Ville :<span>
        <!-- {{ stagiaire.ville }} -->
      </span>
    </div>
    <div class="card-text">
      Etablissement Scolaire : {{ demandeStage?._id }}
      <span>
        <!-- {{ stagiaire.formations }} -->
      </span>
    </div>
    <div class="card-text">
      <!-- {{ stagiaire.messageMotivation }} -->
    </div>
    <div class="row d-flex justify-content-between">
      <div class="card-body d-flex">
        <a class="badge-info nav-link px-3 py-2">Details</a>
      </div>
      <div class="card-body d-flex justify-content-end">
        <form>
          <button class="badge-danger px-3 py-2 mr-2" mat-button>
            Refuser
          </button>
        </form>
        <a href="#" class="badge-success px-3 py-2">Accepter</a>
      </div>
    </div>
  </div>
</div>
