<!-- Section-trouvez-stagiaires -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 12 Avril 2021 -->

<div class="container-fluid mb-5 pt-3">
  <div class="row my-5 no-gutters d-block text-center">
    <p class="texteCouleurSecondaire titreDeLannonce">
      Votre futur stagiaire se trouve ici.
    </p>
    <br />
    <p class="text-secondary">
      Pellentesque vehicula fermentum turpis eu cursus. Cras convallis <br />
      tellus et elit aliquet, vitae dignissim ligula sodales.
    </p>
  </div>
  <!-- Section affichage stagiaires -->
  <div class="container-fluid">
    <div class="row mx-4 mb-3">
      <!-- Stagiaire petit format -->
      <div
        class="col-xs-12 col-md-6 col-lg-3"
        *ngFor="let demandeStage of demandesStages | slice: 0:4"
      >
        <app-mini-stagiaire-carte
          [demandeStage]="demandeStage"
        ></app-mini-stagiaire-carte>
      </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
      <a
        routerLink="/trouvezStagiaire"
        class="badge-danger rounded px-2 py-1 font-weight-bold"
        >Voir touts les candidats</a
      >
    </div>
  </div>
</div>
