<section>
  <div
    class="header container-fluid d-flex justify-content-center align-items-center"
    style="
      background-image: url('../../../assets/img/entete/stages-candidats.png');
    "
  >
    <!-- Composant de recherche -->
    <app-recherche-entete style="width: 100%"></app-recherche-entete>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h1 class="ml-5 titre text-white">Candidats</h1>
    </div>
    <div class="row mx-5">
      <div class="col-7">
        <p>Accueil > Candidats</p>
        <div
          *ngFor="
            let demandeStage of demandesStages
              | demandeStageAccepter
              | slice: 0:5
          "
        >
          <app-carte-stagiaire-moyen
            [demandeStage]="demandeStage"
          ></app-carte-stagiaire-moyen>
        </div>
        <div *ngIf="chargerPlus">
          <div
            *ngFor="
              let demandeStage of demandesStages
                | demandeStageAccepter
                | slice: 5
            "
          >
            <app-carte-stagiaire-moyen
              [demandeStage]="demandeStage"
            ></app-carte-stagiaire-moyen>
          </div>
        </div>
        <div class="row">
          <button
            *ngIf="afficher"
            class="badge-danger mx-auto p-2 border-0 rounded"
            (click)="chargerPlus = true; afficher = false"
          >
            Charger plus
          </button>
        </div>
      </div>
      <div class="offset-1 col-4">
        <app-tableau-secteurs-activite></app-tableau-secteurs-activite>
      </div>
    </div>
  </div>
</section>
<app-pourquoi-publier-stage></app-pourquoi-publier-stage>
<!--  Section des stagiaires -->
<app-trouvez-un-stage></app-trouvez-un-stage>
<!-- Section trouvez un stage -->
<app-section-trouvez-stage></app-section-trouvez-stage>
<!-- Annonce -->
<div class="container-fluid px-5">
  <app-annonce></app-annonce>
</div>
