// demande-stage-complet.sass 
// Par Charles-Etienne Villemure
// Le 6 Avril 2021
@import '../../app.component'
.bordureOffreDemandeComplet
    border: solid 1px #707070
.col-7 , .col-3
    padding: 0 !important 
button
    border-radius: 0
:host
    &::ng-deep app-annonce
        img
            transform: translateY(25%)
.ficheEntete
    border-top: none
    @include lg
        margin-left: 1rem
        border-top: solid 1px #707070
.ficheImage 
    border-bottom: none
    @include lg
        padding-bottom: 3rem
        border-bottom: solid 1px #707070
