<div cl ass="container-fluid">
  <div class="row no-gutters">
    <div
      class="col-6 bg-light d-flex flex-column align-items-start contenuGauche justify-content-center"
    >
      <div class="px-6">
        <h1>Trouvez un stage<br />a la hauteur de vos attentes</h1>

        <p class="text-secondary">
          Pellentesque vehicula fermentum turpis eu cursus. Cras convallis
          tellus et elit aliquet, <br />
          vitae dignissim ligula sodales.
        </p>

        <ul>
          <li>Cras convallis tellus et elit aliquet 20%</li>
          <li>Suspendisse tincidunt vulputate leo in sollicitudin</li>
          <li>Morbi sodales risus quis orci hendrerit semper</li>
        </ul>

        <a href="#" class="card-link badge-danger couleurPrincipale px-2 py-2"
          >Publier une offre de stage maintenant!</a
        >
      </div>
    </div>
    <div class="col-6">
      <img src="../../assets/img/sectionTrouvezStage.png" />
    </div>
  </div>
</div>
