<!-- Section-trouvez-stage.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 11 Avril 2021 -->

<div class="container-fluid" style="padding-left: 0; padding-right: 0">
  <div class="row no-gutters">
    <div
      class="col-xs-12 col-lg-6 bg-light d-flex flex-column align-items-start justify-content-center"
    >
      <div class="px-6">
        <h1 class="font-weight-bold">
          Trouvez un stage<br />à la hauteur de vos attentes
        </h1>

        <p class="text-secondary">
          Pellentesque vehicula fermentum turpis eu cursus. Cras convallis
          tellus et elit aliquet, <br />
          vitae dignissim ligula sodales.
        </p>

        <ul>
          <li>Cras convallis tellus et elit aliquet 20%</li>
          <li>Suspendisse tincidunt vulputate leo in sollicitudin</li>
          <li>Morbi sodales risus quis orci hendrerit semper</li>
        </ul>
        <!-- Lien si utilisateur non connecté -->
        <a
          *ngIf="env.connecter === false"
          routerLink="/connexion-insription"
          class="card-link badge-danger couleurPrincipale px-2 py-2"
          >Publiez une demande de stage maintenant!</a
        >
        <!-- Lien si utilisateur est connecté -->
        <a
          *ngIf="env.connecter === true"
          routerLink="/administration/demandeStageFormulaire"
          class="card-link badge-danger couleurPrincipale px-2 py-2"
          >Publiez une demande de stage maintenant!</a
        >
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <img
        src="../../assets/img/sectionTrouvezStage.png"
        alt="Etudiant avec professeur."
      />
    </div>
  </div>
</div>
