<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <h2>{{ stagiaire.prenom }} {{ stagiaire.nom }}</h2>
        <h5>{{ stagiaire.competences }}</h5>
        <p class="pt-3 mb-0">{{ stagiaire.ville }}</p>
      </div>
      <div
        class="col-6 text-center d-flex flex-column justify-content-between align-items-center"
      >
        <div class="card-text d-inline-flex">
          <p class="pr-2">Disponible a partir du :</p>
          <p class="">{{ stagiaire.dateDebutStage }}</p>
        </div>
        <div class="d-flex">
          <a href="#" class="btn btn-primary">Details</a>
          <!-- Le lien a la classe badge-danger seulement pour avoir le  -->
          <!-- memes attributs badges bootstrap, la classe couleurPrincipale a priorite sur la couleur de fond  -->
          <a href="#" class="btn btn-primary ml-4">Postuler</a>
        </div>
      </div>
    </div>
  </div>
</div>
