<!-- --------------------------------------------- -->
<!-- ----Page non utilisé (Pour administrateur)--- -->
<!-- --------------------------------------------- -->
<!-- attente-offre-stage.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 9 Avril 2021 -->
<div class="card rounded-0">
  <div class="card-body">
    <div class="card-title bordureTitreCarte d-flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="31.5"
        height="36"
        viewBox="0 0 31.5 36"
      >
        <path
          id="Icon_awesome-user-tie"
          data-name="Icon awesome-user-tie"
          d="M15.75,18a9,9,0,1,0-9-9A9,9,0,0,0,15.75,18Zm6.736,2.292L19.125,33.75l-2.25-9.562,2.25-3.937h-6.75l2.25,3.938-2.25,9.563L9.014,20.292A9.434,9.434,0,0,0,0,29.7v2.925A3.376,3.376,0,0,0,3.375,36h24.75A3.376,3.376,0,0,0,31.5,32.625V29.7a9.434,9.434,0,0,0-9.014-9.408Z"
        />
      </svg>

      <h3 class="font-weight-bold mb-0 pl-2">{{ offreStage?.titre }}</h3>
    </div>
    <div class="card-subtitle text-secondary"></div>
    <div class="card-text">
      Ville : <span class="text-secondary"> {{ offreStage?.ville }}</span>
    </div>
    <div class="card-text">
      Entreprise :
      <span class="text-secondary">
        {{ offreStage?.entreprise?.nomEntreprise }}</span
      >
    </div>
    <div class="card-text text-secondary">
      {{
        offreStage.description.length > 100
          ? (offreStage?.description | slice: 0:100) + "..."
          : offreStage?.description
      }}
    </div>
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-between pt-2 mx-2">
      <div class="d-flex">
        <a href="#" class="badge-info px-3 py-2">Détails</a>
      </div>
      <div class="d-flex justify-content-end">
        <button class="badge-danger px-3 py-2 mr-2">Supprimer</button>
        <button
          *ngIf="env.statusDeConnexion === 'administrateur'"
          class="badge-success px-3 py-2"
        >
          Accepter
        </button>
      </div>
    </div>
  </div>
</div>
