<section>
  <div
    class="header container-fluid d-flex justify-content-center align-items-center"
    style="background-image: url('../../../assets/img/entete/stages.png')"
  >
    <!-- Composant de recherche -->
    <app-recherche-entete style="width: 100%"></app-recherche-entete>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h1 class="ml-5 titre text-white">Offres de stage</h1>
    </div>
    <div class="row mx-5">
      <div class="col-7">
        <p>Accueil > Offres de stage</p>
        <div *ngFor="let offreStage of offresStages">
          <app-offre-stage-moyenne
            [offreStage]="offreStage"
          ></app-offre-stage-moyenne>
        </div>
        <div class="row">
          <a href="#" class="badge-danger mx-auto"> Charger plus</a>
        </div>
      </div>
      <div class="offset-1 col-4">
        <app-tableau-secteurs-activite></app-tableau-secteurs-activite>
      </div>
    </div>
  </div>
</section>
<app-pourquoi-publier-stage></app-pourquoi-publier-stage>
<!--  Section des stagiaires -->
<app-section-trouvez-stagiaires></app-section-trouvez-stagiaires>
<!-- Section trouvez un stage -->
<app-section-trouvez-stage></app-section-trouvez-stage>
<!-- Annonce -->
<app-annonce></app-annonce>
