<!-- Trouvez-stage.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 12 Avril 2021 -->
<section>
  <div
    class="header container-fluid d-flex justify-content-center align-items-center"
    style="background-image: url('../../../assets/img/entete/stages.png')"
  >
    <!-- Composant de recherche -->
    <app-recherche-entete style="width: 100%"></app-recherche-entete>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p class="ml-5 titre text-white" style="font-size: 2.4rem">
        {{ titre }}
      </p>
    </div>
    <div class="row contenuPageListeStageStagiaire">
      <div class="col-xs-12 col-md-7">
        <p>Accueil > Offres de stage</p>
        <div
          *ngFor="
            let offreStage of offresStages | offreStageAccepter | slice: 0:5
          "
        >
          <app-offre-stage-moyenne
            [offreStage]="offreStage"
          ></app-offre-stage-moyenne>
        </div>
        <!-- Après la cinquième offres -->
        <div *ngIf="chargerPlus">
          <div
            *ngFor="
              let offreStage of offresStages | offreStageAccepter | slice: 5
            "
          >
            <app-offre-stage-moyenne
              [offreStage]="offreStage"
            ></app-offre-stage-moyenne>
          </div>
        </div>
        <div class="row">
          <!-- Le bouton permet d'afficher toutes les offres -->
          <button
            *ngIf="afficher"
            class="badge-danger mx-auto p-2 border-0 rounded mb-4"
            (click)="chargerPlus = true; afficher = false"
          >
            Charger plus
          </button>
        </div>
      </div>
      <div class="col-xs-12 offset-md-1 col-md-4">
        <!-- Tableau secteurs d'activités -->
        <app-tableau-secteurs-activite></app-tableau-secteurs-activite>
      </div>
    </div>
  </div>
</section>
<!-- Section publier stage -->
<app-pourquoi-publier-stage></app-pourquoi-publier-stage>
<!--  Section des stagiaires -->
<app-section-trouvez-stagiaires></app-section-trouvez-stagiaires>
<!-- Section trouvez un stage -->
<app-section-trouvez-stage></app-section-trouvez-stage>
<!-- Annonce -->
<div class="container-fluid px-5">
  <app-annonce></app-annonce>
</div>
