<!-- annonce-lorem.html -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 12 Avril 2021 -->
<div class="comtainer-fluid">
  <div class="row text-white mb-5">
    <div
      class="col-xs-12 col-lg-6 p-0 m-0 sectionImage"
      style="background-image: url('../../assets/img/annonceLorem.png')"
    >
      <!-- L'image de s'affiche pas, elle est rendu par background de la div  -->
      <img
        class="img-fluid"
        src="../../assets/img/annonceLorem.png"
        alt="Livre avec oiseaux"
        style="visibility: hidden"
      />
    </div>
    <div class="col-xs-12 col-lg-6 bg-dark p-5">
      Etiam mattis est in tellus mattis maximus. Etiam non molestie metus. Donec
      quis mauris metus. Cras tempor varius odio, nec varius nisi sollicitudin
      ac. Praesent vitae elementum augue
    </div>
  </div>
</div>
