<!-- Section-trouvez-un-stage-->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 12 Avril 2021 -->
<div class="container-fluid mb-5">
  <div class="row my-5 no-gutters d-block text-center">
    <p class="texteCouleurSecondaire titreDeLannonce">
      Tu es à la recherche de ton <br />
      stage de fin d'étude?
    </p>
    <br />
    <p class="text-secondary">
      Pellentesque vehicula fermentum turpis eu cursus. Cras convallis <br />
      tellus et elit aliquet, vitae dignissim ligula sodales.
    </p>
  </div>
  <!-- Section affichage Offres de stages -->
  <div class="container-fluid">
    <div class="row w-75 mx-auto mb-3">
      <!-- Stage petit format -->
      <div
        class="col-xs-12 col-md-6 col-lg-3"
        *ngFor="
          let offreStage of offresStages | offreStageAccepter | slice: 0:4
        "
      >
        <app-mini-offre-stage [offreStage]="offreStage"></app-mini-offre-stage>
      </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
      <a
        id="lienTrouvezStage"
        routerLink="/trouvezStage"
        class="badge-danger rounded px-2 py-1 font-weight-bold"
        >Voir toutes les offres de stage</a
      >
    </div>
  </div>
</div>
