<div class="form-container">
  <form
    #stagiaireAjoutForm="ngForm"
    id="stagiaireAjoutForm"
    (ngSubmit)="formulaireTerminer(stagiaireAjoutForm)"
  >
    <!-- Prenom -->
    <mat-form-field>
      <input
        matInput
        name="prenom"
        #prenom="ngModel"
        placeholder="Prenom"
        minlength="2"
        maxlength="50"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.prenom"
        required
      />
      <mat-error
        *ngIf="
          prenom.invalid &&
          (prenom.dirty || prenom.touched) &&
          prenom.hasError('required')
        "
        >Votre Prenom est obligatoire.</mat-error
      >
      <mat-error
        *ngIf="
          prenom.invalid &&
          (prenom.dirty || prenom.touched) &&
          prenom.hasError('minlength')
        "
        >Votre Prenom doit contenir au moins 2 caractères.</mat-error
      >
      <mat-error
        *ngIf="
          prenom.invalid &&
          (prenom.dirty || prenom.touched) &&
          prenom.hasError('maxlength')
        "
        >Votre Prenom doit contenir au maximum 50 caractères.</mat-error
      >
    </mat-form-field>
    <!-- Nom -->
    <mat-form-field>
      <input
        matInput
        name="nom"
        #nom="ngModel"
        placeholder="Nom"
        minlength="2"
        maxlength="50"
        pattern="[A-Za-z]*"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.nom"
        required
      />
      <mat-error
        *ngIf="
          nom.invalid && (nom.dirty || nom.touched) && nom.hasError('pattern')
        "
        >Votre Nom ne doit contenir que des caractères.</mat-error
      >
      <mat-error
        *ngIf="
          nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')
        "
        >Votre Nom est obligatoire.</mat-error
      >
      <mat-error
        *ngIf="
          nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')
        "
        >Votre Nom doit contenir au moins 2 caractères.</mat-error
      >
      <mat-error
        *ngIf="
          nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')
        "
        >Votre Nom doit contenir au maximum 50 caractères.</mat-error
      >
    </mat-form-field>
    <!-- Courriel -->
    <mat-form-field>
      <input
        matInput
        type="email"
        name="courriel"
        #courriel="ngModel"
        placeholder="Courriel"
        minlength="5"
        maxlength="50"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.courriel"
        required
      />
    </mat-form-field>
    <!-- Telephone -->
    <mat-form-field>
      <input
        matInput
        type="tel"
        name="telephone"
        #telephone="ngModel"
        placeholder="Numero de telephone"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.telephone"
        required
      />
    </mat-form-field>
    <!-- Ville -->
    <mat-form-field>
      <input
        matInput
        name="ville"
        #ville="ngModel"
        placeholder="Ville"
        minlength="2"
        maxlength="50"
        pattern="[A-Za-z]*"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.ville"
        required
      />
    </mat-form-field>
    <!-- Competences -->
    <mat-form-field>
      <input
        matInput
        name="competences"
        #competences="ngModel"
        placeholder="Competences"
        minlength="10"
        maxlength="300"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.competences"
        required
      />
    </mat-form-field>
    <!-- Formations -->
    <mat-form-field>
      <mat-label>Formations</mat-label>
      <mat-select
        name="formations"
        #formations="ngModel"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="nouveauStagiaire.formations"
        required
      >
        <mat-option
          *ngFor="let formation of formationsListe"
          [value]="formation"
        >
          {{ formation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Message Motivation -->
    <mat-form-field>
      <input matInput placeholder="Message de motivation" required />
    </mat-form-field>
    <!-- Debut de stage date -->
    <mat-form-field>
      <input matInput placeholder="Date de debut de stage" required />
    </mat-form-field>
    <button>Terminer</button>
  </form>
</div>
