<div class="container-fluid">
  <div class="row">
    <div class="col-6 bg-light">
      <div class="row px-6 d-flex flex-column align-items-start contenuGauche">
        <h1>Trouvez un stage<br />a la hauteur de vos attentes</h1>

        <p>
          Pellentesque vehicula fermentum turpis eu cursus. Cras convallis
          tellus et elit aliquet, <br />
          vitae dignissim ligula sodales.
        </p>

        <ul>
          <li>Cras convallis tellus et elit aliquet 20%</li>
          <li>Suspendisse tincidunt vulputate leo in sollicitudin</li>
          <li>Morbi sodales risus quis orci hendrerit semper</li>
        </ul>

        <a href="#" class="card-link">Publier une offre de stage maintenant!</a>
      </div>
    </div>
    <div class="col-6">
      <img src="../../assets/img/sectionTrouvezStage.png" />
    </div>
  </div>
</div>
