// app.compoment.sass
// Par Charles-Etienne Villemure
// Le 12 Avril 2021
    // Police de style des tites de pages
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap')
$policeTitre : 'Oswald', sans-serif
$couleurPrincipal : #5C4CF9
$couleurSecondaire : #4F4F6F 
$CouleurTitreCarte: #584CF9

//***************************// 
// Mixin pour largeur d'écran//
//***************************//
// Petite tablette et grand téléphone
$screen-sm-min: 576px
// Petite tablette
$screen-md-min: 768px
// Tablette et petit écran
$screen-lg-min: 992px
// Tablette large et écran ordinateur
$screen-xl-min: 1200px
// Petit appareil
@mixin sm
  @media (min-width: #{$screen-sm-min})
    @content
// Moyen appareil
@mixin md
  @media (min-width: #{$screen-md-min})
    @content
// Grand appareil
@mixin lg
  @media (min-width: #{$screen-lg-min})
    @content
// Très large appareil
@mixin xl
  @media (min-width: #{$screen-xl-min})
    @content
// Sur mesure
@mixin rwd($screen)
  @media (min-width: $screen+'px' )
    @content        
//********************** 
//********Global********
//**********************     
// Conteneur modifié pour le défilement horizontal
.conteneur
    max-width: 100%
    overflow: hidden
.boutonGradiant
    border: none
    background-image: linear-gradient(to right, #544CF9 , #814CF9)
.texteCouleurSecondaire
     color: $couleurSecondaire
//********************** 
//********Public********
//**********************     
.imageHautDePage
    width: 100%
    height: 100%
    object-fit: cover
    overflow: hidden
.titre
    transform: translateY(-120%) 
    font-family: $policeTitre   
    margin-left: 5rem
.header
    height: 50vh    
    background-position: center
    background-repeat: no-repeat
    background-size: cover
.titreDeLannonce
    line-height: 1.2
    font-size: 2rem
    @include lg
        font-size: 3rem
// Cartes
.titreCarte
    color: $CouleurTitreCarte
.bordureTitreCarte
    border-bottom: solid .5vh black
.bordure
    border-bottom: solid 1vh black
.bordureLiens
    border: solid .6vh #efefef
.contenuPageListeStageStagiaire
    margin: 0
    @include lg
        margin: 0 48px
.bordureOffreDemandeComplet
    border: solid 1px #707070

//********************** 
//Section administration
//********************** 
.espaceFormulaire
    margin-left: 0
    @include md
        margin-left: 1rem
.btn-bg
    background-color: #F6F6F6
.tableauStagiaire
    border: solid 1px lightgrey
.bordureBasBleu
    border-bottom: solid 2vh #3E99DF